[submodule "nano/.nanorc.d"]
	path = nano/.nanorc.d
	url = https://github.com/scopatz/nanorc.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
