# Matching for secret files
*.secrets?.*
*-secret.*
secret.*
_secret.*

ssh/.ssh/*
!ssh/.ssh/config
ssh/.ssh/config.d/*
!ssh/.ssh/config.d
!ssh/.ssh/config.d/.gitkeep

_ssh_backup/

# Turds
.DS_Store
.Spotlight-V100
.Trashes
*.code-workspace
*.pyc

# Cache
.cache
